.container-register{
    height: calc(100vh - 195px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__form-register{
    width: 90%;
    max-width: 500px;
   /*  border: 1px solid rgb(227, 227, 227); */
    border-radius: 12px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;   
}


.container__form-register h1{
    text-align: center;
    margin-bottom: 70px;
    color: rgb(133, 133, 133);
}

/* div com input e label */
.group-input{
    position: relative;
    width: 60%;
    margin: auto;
}

.group-input input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(200,200,200);
}

.group-input label{
    position: absolute;
    left: 0;
    top: 5px;
    color: rgb(133, 133, 133);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

/* .group-input input:focus,
.group-input input:valid{
    border-bottom: 2px solid rgb(254, 78, 113);
    transition: all 0.3s ease-in-out;
} */


.group-input input:focus ~ label,
.group-input input:valid ~ label{
    transform: translateY(-24px);
    font-size: 14px;
    color: rgb(254, 78, 113);
}

.role-options{
    display: flex;
    gap: 20px;
   justify-content: center;
}

.role-options label{
    margin-left: 5px;
}

.btn-form{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-form button{
    text-align: center;
    border-radius: 25px;
    padding: 6px;
    width: 100px;
    border: none;
    background-color: rgb(254, 78, 113);
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-form button:hover{
    background-color: rgb(211, 44, 77);
}

.form-check-input:checked {
    background-color: rgb(254, 78, 113);
    border-color: rgb(254, 78, 113);
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgb(254 78 113 / 25%);
}