<section class="footer-container">
    <div>

    </div>
    <div>
        <a href="https://www.linkedin.com/in/damaresbs/" target="_blank">
            Dâmares Bortolucci de Sousa
        </a>
        <p>Projeto Final Angular II</p>
    </div>
    <div class="contact-icons">
        <a href="https://github.com/damaresbortolucci" target="_blank">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/damaresbs/" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="mailto:damaresbortolucci@gmail.com">
            <i class="bi bi-envelope-at-fill"></i>
        </a>
    </div>
</section>
